<div class="backgrounddiv">
    <div class="contentdiv">
        <h1>Kontakt</h1>
        <table id="externaltable">
            <tr>
                <th>
                    <button id="emailbutton" onclick="location.href='mailto:timpokart@outlook.de'">E-Mail</button>
                </th>
                <th>
                    <button id="telegrambutton">Telegram</button>
                </th>
            </tr>
        </table>
        <h2>Kontaktformular</h2>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    <input>        
                </th>
            </tr>
            <tr>
                <th>
                    E-Mail
                </th>
                <th>
                    <input>        
                </th>
            </tr>
            <tr>
                <th>
                    Firma
                </th>
                <th>
                    <input>        
                </th>
            </tr>
        </table>
        Nachricht
        <input>        
        <p>
        <button>Senden</button>
</div>
</div>