<div class="backgrounddiv">
    <div class="contentdiv">
        <h1>Kontakt</h1>
        <table>
            <tr>
                <th>
                    E-Mail
                </th>
                <th>
                    Telegram
                </th>
            </tr>
        </table>
        <h2>Kontaktformular</h2>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    <input>        
                </th>
            </tr>
            <tr>
                <th>
                    E-Mail
                </th>
                <th>
                    <input>        
                </th>
            </tr>
            <tr>
                <th>
                    Firma
                </th>
                <th>
                    <input>        
                </th>
            </tr>
        </table>
        Nachricht
        <input>        
</div>
</div>