<div id="stretchydiv">
    <app-navigation-bar></app-navigation-bar>
    <div class="backgrounddiv">
        <div class="contentdiv-large">
            <h2 translate>pages.articles.title</h2>
            <table>
                <tr *ngFor="let article of articles | async">
                    <div>
                        <a [href]="'article/' + article.name">
                            <h3> {{article.title}} <span>{{article.creation_time}}</span></h3>
                            <p>{{article.description}}</p>
                        </a>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <app-footer></app-footer>
</div>