<div class="backgrounddiv">
    <div class="contenttilediv" id="reddittile" (click)="gotoMedia('https://www.reddit.com/u/tipfom')">
        <img src="../../assets/images/Reddit_Mark_OnWhite.svg">
    </div>
    <div class="contenttilediv" id="githubtile" (click)="gotoMedia('https://www.github.com/tipfom')">
        <img src="../../assets/images/GitHub-Mark-120px-plus.png">
    </div>
    <div class="contenttilediv" id="instagramtile" (click)="gotoMedia('https://www.instagram.com/tipfom')">
        <img src="../../assets/images/glyph-logo_May2016.png">
    </div>
    <div class="contenttilediv" id="emaildiv" (click)="gotoMedia('mailto:timpokart@outlook.de')">
        <img src="../../assets/images/email.svg"/>
    </div>
    <div class="contenttilediv" id="telegramdiv" (click)="gotoMedia('https://t.me/tipfom')">
        <img src="../../assets/images/Telegram_logo.svg">
    </div>
</div>
<div class="backgrounddiv">
    <div class="contentdiv">
        <h2>Kontaktformular</h2>
        <div class="contact-group-div">
            <input class="contact-group-input" id="nameinput" placeholder="Name">
            <label class="contact-group-label">Name</label>
        </div>
        <div class="contact-group-div">
            <input class="contact-group-input" id="emailinput" placeholder="E-Mail">
            <label class="contact-group-label">E-Mail</label>
        </div>
        <div class="contact-group-div">
            <textarea class="contact-group-input" id="messageinput" placeholder="Nachricht"></textarea>
            <label class="contact-group-label">Nachricht</label>
        </div>
        <div id="cdiv">
            <button>Senden</button>
        </div>
    </div>
</div>