@import "src/variables"

#emaildiv
    background: white
    img
        width: 50%

#telegramdiv
    background: white
    img
        width: 50%

#reddittile
    background: #FF4500
    img
        width: 100%

#githubtile
    background: white
    img
        width: 50%
        
#instagramtile
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) 
    img
        width: 50%

#cdiv
    text-align: center

table
    width: 100%

button
    font-size: 20px
    padding: 5px
    width: 150px
    background: $color-lightshadow
    color: $color-textonlight
    border-radius: 3px
    border-width: 0px
    outline-color: $color-light 
    outline-width: 1px
    box-shadow: 0px 3px 3px $color-background

button:hover
    background: $color-accent
    box-shadow: 0px 3px 3px $color-accent-secondary
    color: $color-textondark

button:focus
    outline: 0

.contact-group-div
    position: relative

.contact-group-input
    width: calc(100% - 10px)
    background: transparent
    color: $color-background
    outline: 0
    border-color: $color-background
    border-width: 1.5px
    border-style: solid
    border-radius: 2px
    padding: 2px 5px
    margin: 30px 0 0 0
    font-size: 20px

    &.missing
        border-color: $color-error
        &::placeholder
            color: $color-error
        &:not(:placeholder-shown) ~ label 
            color: $color-error

    &::placeholder
        color: $color-background

    &:not(:placeholder-shown) ~ label 
        position: absolute
        top: 10px
        color: $color-background
    
    &:placeholder-shown ~ label 
        position: absolute
        top: 0px
        color: transparent

.contact-group-input:hover
    &.missing
        border-color: $color-error-secondary
        &::placeholder
            color: $color-error-secondary

        &:not(:placeholder-shown) ~ label 
            color: $color-error-secondary

            border-color: $color-accent-secondary
            color: $color-accent-secondary

    &::placeholder
        color: $color-accent-secondary
    
    &:not(:placeholder-shown) ~ label 
        color: $color-accent-secondary

.contact-group-input:focus
    &.missing
        border-color: $color-error-secondary
        &::placeholder
            color: $color-error-secondary

        &:not(:placeholder-shown) ~ label 
            color: $color-error-secondary

            border-color: $color-background
            color: $color-background

    &::placeholder
        color: $color-background

    &:not(:placeholder-shown) ~ label 
        color: $color-background
        font-weight: bold

#messageinput
    resize: vertical        
    min-height: 100px
    font-family: inherit

.lds-heart 
    display: inline-block
    position: relative
    width: 80px
    height: 80px
    transform: rotate(45deg)
    transform-origin: 40px 40px

.lds-heart div 
    top: 32px
    left: 32px
    position: absolute
    width: 32px
    height: 32px
    background: $color-background
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1)

.lds-heart div:after,
.lds-heart div:before 
    content: " "
    position: absolute
    display: block
    width: 32px
    height: 32px
    background: $color-background

.lds-heart div:before 
    left: -24px
    border-radius: 50% 0 0 50%

.lds-heart div:after 
    top: -24px
    border-radius: 50% 50% 0 0

@keyframes lds-heart 
    0%
        transform: scale(0.95)
  
    5%
        transform: scale(1.1)
  
    39%
        transform: scale(0.85)
  
    45%
        transform: scale(1)
  
    60%
        transform: scale(0.95)
  
    100%
        transform: scale(0.9)
  

.status-div
    padding: 5px 0px
    text-align: center
    width: 100%
    div
        font-weight: bold
        font-size: 20px
