<div class="backgrounddiv">
    <div class="contentdiv">
        <h2>Spotlight</h2>
        <table>
            <tr *ngFor="let spotlightArticle of spotlightArticles | async">
                <div>
                    <a [href]="'article/' + spotlightArticle.name">
                        <h3> {{spotlightArticle.title}} </h3>
                        <p>{{spotlightArticle.description}}</p>
                    </a>
                </div>
            </tr>
        </table>
        <div class="learnmorediv"><a routerLink="/articles">Alle Artikel anzeigen</a></div>
    </div>
</div>