<div class="backgrounddiv">
    <div class="contentdiv-small">
        <h2 translate>pages.home.spotlight.spotlight</h2>
        <table>
            <tr *ngFor="let spotlightArticle of spotlightArticles | async | keyvalue">
                <div *ngIf="spotlightArticle.value.spotlight">
                    <a [href]="'article/' + spotlightArticle.key">
                        <div
                            *ngIf="translateService.currentLang == 'de' || (translateService.currentLang == undefined && translateService.defaultLang == 'de'); then germanBlock else englishBlock">
                        </div>
                        <ng-template #germanBlock>
                            <h3> {{spotlightArticle.value.translations.de.title}} </h3>
                            <p>{{spotlightArticle.value.translations.de.description}}</p>
                        </ng-template>
                        <ng-template #englishBlock>
                            <h3> {{spotlightArticle.value.translations.en.title}} </h3>
                            <p>{{spotlightArticle.value.translations.en.description}}</p>
                        </ng-template>
                    </a>
                </div>
            </tr>
        </table>
        <div class="learnmorediv"><a routerLink="/articles" translate>pages.home.spotlight.show-all</a></div>
    </div>
</div>