@import "../../variables.sass"
    
div
    position: sticky
    top: 0
    background: $color-background
    z-index: 20

.svg_form
    width: 3vh
    height: 3vh

ul
    list-style-type: none
    display: flex
    height: fit-content
    justify-content: center
    width: 90%
    margin: 0 5% 
    padding: 5px 0
    flex-wrap: wrap

    li
        display: inline-block
        font-family: "Roboto", sans-serif
        margin: 0.5vw 4vw
        min-width: fit-content
        color: #deaa87
        cursor: pointer
        
        span
            display: inline-block
            line-height: 10%
            vertical-align: middle
            font-size: 2vh
            margin: 0 5px

        svg
            display: inline-block
            line-height: 10%
            vertical-align: middle
            height: 100%

        a
            color: $color-lightbrown
            text-decoration: none
            display: inline-block
            min-width: fit-content

g
    fill: $color-lightbrown