<div id="stretchydiv">
    <app-navigation-bar></app-navigation-bar>
    <div class="backgrounddiv">
        <div class="contentdiv">
            <h1>{{title}}</h1>
            <span id="warningspan" [innerHTML]="'pages.article.deprecated-warning' | translate:{newestVersionHref: newestVersionHref}"></span>
            <markdown [data]="content" id="markdowndiv" (ready)="onMarkdownLoad()" lineNumbers ></markdown>
            <span id="editedspan" translate [translateParams]="{lastChanged: lastChanged}">pages.article.created <a *ngIf="previousVersionHref" [href]="previousVersionHref" translate>pages.article.previous-version</a></span>
        </div>
    </div>
</div>