<app-navigation-bar></app-navigation-bar>
<div class="backgrounddiv">
	<h2>Aktuell</h2>
	<div class="containerdiv">
		<div id="currentdiv">
			<div class="currententrydiv">
				<img src="../../../assets/images/TU_Dresden_Logo_schwarz.svg">
			</div>
			<div class="currententrydiv">
				<img src="../../../assets/images/HELMHOLTZ_LOGO.svg">
			</div>
			<div class="currententrydiv">
				<img src="../../../assets/images/Studienstiftung_des_deutschen_Volkes_Logo.svg">
			</div>
		</div>
	</div>
	<h2>Fähigkeiten</h2>
	<div class="containerdiv">
		<div class="contentdiv" id="skilldiv" style="padding: 10px">
			<ul class="skillul">
				<li>Physik</li>
				<li>Programmieren mit</li>
				<ul class="subskillul">
					<li>C-Sharp<span style="float:right;font-weight: bold; font-size: 20px">🟊🟊🟊🟊🟊</span></li>
					<li>Python</li>
					<li>C++</li>
					<li>Javascript</li>
					<li>Docker</li>
				</ul>
				<li>Webdesign</li>
				<li>Kommunikation in</li>
				<ul class="subskillul">
					<li>Deutsch</li>
					<li>Englisch</li>
				</ul>				
			</ul>
		</div>
	</div>
	<h2>Erfahrung</h2>
	<div class="containerdiv">
		<div id="modulatedcontent">
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Diese Website geht live</h2>
					</div>
					<p class="datep">24.02.2020</p>
					<p class="descriptionp">
						I'm speaking with myself, number one, because I have a very good brain and I've said a lot of
						things. I
						write the best placeholder text, and I'm the biggest developer on the web by far... While that's
						mock-ups and this is politics, are they really so different? I think the only card she has is
						the Lorem
						card.
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Diese Website geht live</h2>
					</div>
					<p class="datep">24.02.2020</p>
					<p class="descriptionp">
						I'm speaking with myself, number one, because I have a very good brain and I've said a lot of
						things. I
						write the best placeholder text, and I'm the biggest developer on the web by far... While that's
						mock-ups and this is politics, are they really so different? I think the only card she has is
						the Lorem
						card.
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Diese Website geht live</h2>
					</div>
					<p class="datep">24.02.2020</p>
					<p class="descriptionp">
						I'm speaking with myself, number one, because I have a very good brain and I've said a lot of
						things. I
						write the best placeholder text, and I'm the biggest developer on the web by far... While that's
						mock-ups and this is politics, are they really so different? I think the only card she has is
						the Lorem
						card.
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Diese Website geht live</h2>
					</div>
					<p class="datep">24.02.2020</p>
					<p class="descriptionp">
						I'm speaking with myself, number one, because I have a very good brain and I've said a lot of
						things. I
						write the best placeholder text, and I'm the biggest developer on the web by far... While that's
						mock-ups and this is politics, are they really so different? I think the only card she has is
						the Lorem
						card.
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Diese Website geht live</h2>
					</div>
					<p class="datep">24.02.2020</p>
					<p class="descriptionp">
						I'm speaking with myself, number one, because I have a very good brain and I've said a lot of
						things. I
						write the best placeholder text, and I'm the biggest developer on the web by far... While that's
						mock-ups and this is politics, are they really so different? I think the only card she has is
						the Lorem
						card.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<app-footer></app-footer>