@import "src/variables"

h1
	color: $color-headerondark


// ----------------  LAYOUT

#timeline 
	max-width: 800px
	width: 100%
	padding: 10px

// ----------------  THE FONTS

$border-color: rgba($color-light, .7)


.timeline-item 
	position: relative
	
	.timeline-content
		padding:0
		width: auto
		max-width: none
		color: $color-textonlight
		background: $color-light
		border-radius: 3px

@media (min-width: 600px) 
	#timeline 
		margin: 0 auto

	.timeline-item
		border-left: 2px solid $border-color
		margin-right: -10px
		padding: 5px	
		
		&::after 
			width: 10px
			height: 10px
			opacity: 1.0
			display: block
			top: 50%
			position: absolute
			left: -8px
			border-radius: 10px
			content: ''
			border: 2px solid $border-color
			background: $color-light
		
		&:last-child 
			border-image: linear-gradient(to bottom, $border-color 60%, rgba($border-color, 0)) 1 100%

		&:first-child
			border-image: linear-gradient(to top, $border-color 60%, rgba($border-color, 0)) 1 100%

		.timeline-content
			margin: 10px 20px 10px 10px

@media (max-width: 600px) 
	#timeline 
		margin: 0

	.timeline-item
		border-left: none
		white-space: break-word
		padding: 10px 0
		.timeline-content
			margin: 0
	

.datep
	padding: 10px
	padding-bottom: 6px
	margin: 0
	font-size: 13px

:host .descriptiondiv::ng-deep
	p 
		margin-top: 5px
		margin-bottom: 0 

.descriptiondiv
	padding: 10px
	padding-top:0px
	margin: 0
	font-size: 1.1rem
	line-height: 1.5
	ul
		margin: 2px 0 5px 0

.headerdiv
	width: 100%
	background: $color-accent-faded
	padding: 5px 0px
	border-top-left-radius: 3px
	border-top-right-radius: 3px

	h2
		margin: 10px
		text-align: left
		color: $color-headerondark

#currentdiv
	display: flex
	overflow-y: hidden
	overflow-x: scroll
	flex-wrap: nowrap
	scroll-padding: 0 100px 0 0 
	width: auto
	margin: 25px 50px

	&::-webkit-scrollbar 
		height: 0 !important


.currententrydiv
	display: flex
	justify-content: center
	align-content: center
	height: 125px
	min-width: 250px
	max-width: 250px
	background: $color-light
	overflow-wrap: anywhere
	word-wrap: break-word
	hyphens: auto
	border-radius: 3px

	h2
		text-align: center
		color: $color-headeronlight
	
	img
		width: 70%
		margin: auto 15%
		user-select: none

	&:not(:first-child) 
		&:not(:last-child)
			margin: 0 10px

#skilldiv
	padding: 10px
	max-width: 600px

#csharpcircle
	--crotation: 180deg

#pythoncircle
	--crotation: 160deg

#cppcircle
	--crotation: 120deg

#jscircle
	--crotation: 100deg

#webcircle
	--crotation: 100deg
	
#dockercircle
	--crotation: 80deg

#skillcirclecontainer
	display: flex
	width: 100%
	max-width: 435px
	flex-wrap: wrap
	justify-content: center
	margin: 0 auto 20px auto

@media (min-width: 360px) 
	.circle-wrap, .circle .mask, .circle-wrap .circle .fill
		--circlesize: 120px
		--halfcirclesize: calc(var(--circlesize) / 2)

@media (max-width: 360px) 
	.circle-wrap, .circle .mask, .circle-wrap .circle .fill
		--circlesize: calc(calc(100vw - 40px) / 2 * 0.9 - 30px)
		--halfcirclesize: calc(var(--circlesize) / 2)


.circle-wrap 
	margin: 12.5px 12.5px
	width: var(--circlesize)
	height: var(--circlesize)
	background: $color-lightshadow
	border-radius: 50%
	user-select: none

.circle-wrap .circle .mask, .circle-wrap .circle .fill 
	width: var(--circlesize)
	height: var(--circlesize)
	position: absolute
	border-radius: 50%

.circle-wrap .circle .mask 
	clip: rect(0px, var(--circlesize), var(--circlesize), calc(var(--halfcirclesize) - 1px))

.circle-wrap .circle .mask .fill 
	clip: rect(0px, var(--halfcirclesize), var(--circlesize), 0px)
	background-color: $color-accent

.circle-wrap .circle .mask.full, .circle-wrap .circle .fill 
	animation: fill ease-in-out 1s
	transform: rotate(var(--crotation))

 
@keyframes fill 
	0% 
		transform: rotate(0deg)

	100% 
		transform: rotate(var(--crotation))


.circle-wrap .inside-circle 
	width: calc(var(--circlesize)*13/15)
	height: calc(var(--circlesize)*13/15)
	border-radius: 50%
	background: $color-light
	margin-top: calc(var(--circlesize)/15)
	margin-left: calc(var(--circlesize)/15)
	text-align: center
	line-height: 20px
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	z-index: 100
	font-weight: 700
	font-size: 20px
	color: $color-textonlight


#communicationtable
	width: 100%
	margin: 0 auto
	max-width: 500px
	font-size: 16px
	font-weight: bold
	color: $color-textonlight

.langprogbarbackground
	background: $color-lightshadow
	width: 100%
	height: 30px
	border-radius: 3px

.langprogbarfill
	background: $color-accent
	height: 30px
	width: var(--progpercent)
	border-radius: 3px
	span
		line-height: 30px
		margin-left: 5px
		font-weight: normal
		color: $color-textondark
	
#germanlangprogbar
	--progpercent: 100%

#englishlangprogbar
	--progpercent: 80%