<app-navigation-bar></app-navigation-bar>
<div class="backgrounddiv">
	<h2 translate>pages.aboutme.currently.title</h2>
	<div class="containerdiv">
		<div id="currentdiv">
			<div class="currententrydiv">
				<img src="../../../assets/images/TU_Dresden_Logo_schwarz.svg">
			</div>
			<div class="currententrydiv">
				<img src="../../../assets/images/Studienstiftung_des_deutschen_Volkes_Logo.svg">
			</div>
		</div>
	</div>
	<h2 translate>pages.aboutme.skills.title</h2>
	<div class="containerdiv">
		<div class="contentdiv-small" id="skilldiv">
			<h3 translate>pages.aboutme.skills.software-development</h3>
			<div id="skillcirclecontainer">
				<div class="circle-wrap" id="csharpcircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							C#
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="pythoncircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							Python
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="gitcircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							Git
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="cppcircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							C++
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="jscircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							JS
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="dockercircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							Docker
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="webcircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							Design
						</div>
					</div>
				</div>
			</div>
			<h3 translate>pages.aboutme.skills.communication</h3>
			<table id="communicationtable">
				<tr>
					<td width="80px" translate>pages.aboutme.skills.lang-de</td>
					<td>
						<div class="langprogbarbackground">
							<div class="langprogbarfill" id="germanlangprogbar"><span
									translate>pages.aboutme.skills.lang-de-skill</span></div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="80px" translate>pages.aboutme.skills.lang-en</td>
					<td>
						<div class="langprogbarbackground">
							<div class="langprogbarfill" id="englishlangprogbar"><span
									translate>pages.aboutme.skills.lang-en-skill</span></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<h2 translate>pages.aboutme.experience.title</h2>
	<div class="containerdiv">
		<div id="timeline">
			<div class="timeline-item">
				<div class="timeline-content">
					<div class="headerdiv">
						<h2 translate>pages.aboutme.experience.entries.hzdr.title</h2>
					</div>
					<p class="datep" translate>pages.aboutme.experience.entries.hzdr.date</p>
					<div class="descriptiondiv"
						[innerHTML]="'pages.aboutme.experience.entries.hzdr.description' | translate"></div>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-content">
					<div class="headerdiv">
						<h2 translate>pages.aboutme.experience.entries.iws.title</h2>
					</div>
					<p class="datep" translate>pages.aboutme.experience.entries.iws.date</p>
					<div class="descriptiondiv"
						[innerHTML]="'pages.aboutme.experience.entries.iws.description' | translate"></div>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-content">
					<div class="headerdiv">
						<h2 translate>pages.aboutme.experience.entries.tu-dresden.title</h2>
					</div>
					<p class="datep" translate>pages.aboutme.experience.entries.tu-dresden.date</p>
					<div class="descriptiondiv"
						[innerHTML]="'pages.aboutme.experience.entries.tu-dresden.description' | translate"></div>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-content">
					<div class="headerdiv">
						<h2 translate>pages.aboutme.experience.entries.ipho.title</h2>
					</div>
					<p class="datep" translate>pages.aboutme.experience.entries.ipho.date</p>
					<div class="descriptiondiv"
						[innerHTML]="'pages.aboutme.experience.entries.ipho.description' | translate"></div>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-content">
					<div class="headerdiv">
						<h2 translate>pages.aboutme.experience.entries.abitur.title</h2>
					</div>
					<p class="datep" translate>pages.aboutme.experience.entries.abitur.date</p>
					<div class="descriptiondiv"
						[innerHTML]="'pages.aboutme.experience.entries.abitur.description' | translate"></div>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-content">
					<div class="headerdiv">
						<h2 translate>pages.aboutme.experience.entries.physics-olympiad.title</h2>
					</div>
					<p class="datep" translate>pages.aboutme.experience.entries.physics-olympiad.date</p>
					<div class="descriptiondiv"
						[innerHTML]="'pages.aboutme.experience.entries.physics-olympiad.description' | translate"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<app-footer></app-footer>