<app-navigation-bar></app-navigation-bar>
<div class="backgrounddiv">
	<h2>Aktuell</h2>
	<div class="containerdiv">
		<div id="currentdiv">
			<div class="currententrydiv">
				<img src="../../../assets/images/TU_Dresden_Logo_schwarz.svg">
			</div>
			<div class="currententrydiv">
				<img src="../../../assets/images/HELMHOLTZ_LOGO.svg">
			</div>
			<div class="currententrydiv">
				<img src="../../../assets/images/Studienstiftung_des_deutschen_Volkes_Logo.svg">
			</div>
		</div>
	</div>
	<h2>Fähigkeiten</h2>
	<div class="containerdiv">
		<div class="contentdiv" id="skilldiv">
			<h3>Softwareentwicklung</h3>
			<div id="skillcirclecontainer">
				<div class="circle-wrap" id="csharpcircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							C#
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="pythoncircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							Python
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="cppcircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							C++
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="jscircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							JS
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="webcircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							Web<br />design
						</div>
					</div>
				</div>
				<div class="circle-wrap" id="dockercircle">
					<div class="circle">
						<div class="mask full">
							<div class="fill"></div>
						</div>
						<div class="mask half">
							<div class="fill"></div>
						</div>
						<div class="inside-circle">
							Docker
						</div>
					</div>
				</div>
			</div>
			<h3>Kommunikation</h3>
			<table id="communicationtable">
				<tr>
					<td width="80px">Deutsch</td>
					<td>
						<div class="langprogbarbackground">
							<div class="langprogbarfill" id="germanlangprogbar"><span>Muttersprachler</span></div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="80px">Englisch</td>
					<td>
						<div class="langprogbarbackground">
							<div class="langprogbarfill" id="englishlangprogbar"><span>Flüssig (C1 / B2)</span></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<h2>Erfahrung</h2>
	<div class="containerdiv">
		<div id="modulatedcontent">
			<div class="timeline-item timeline-highlight">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Wissenschaftliche Hilfskraft am HZDR</h2>
					</div>
					<p class="datep">seit Oktober 2019</p>
					<div class="descriptiondiv">
						<p>
							Als Wissenschaftliche Hilfskraft am Helmholtzzentrum Dresden-Rossendorf arbeite
							ich in der Abteilung Nukleare Astrophysik am Felsenkeller-Beschleiniger in
							Dresden.
						</p>
						<p>
							Während meiner Arbeit war ich dabei mit folgenden Projekten betraut:
						</p>
						<ul>
							<li>
								<p>
									Der Entwicklung einer Software zur Datenerfassung mittels sogenannter Strahlprofil
									Monitore.
								</p>
								<p>
									Diese haben als Aufgabe das Strahlprofil zu vermessen und eben dieses Strahlprofil
									kann dann an einem Oszilloskop abgelesen werden. Mit einem einfachen Oszilloskop
									stellen sich einem hierbei allerdings verschiedene Probleme, unter anderem kann man
									schlecht Strahlprofile an unterschiedlichen Stellen des Beschleunigers vergleichen,
									außerdem kann man mit dem Auge die Position nicht qualitativ beurteilen und
									Auswertungsschritte benötigen viel menschliche Leistung. Die entwickelte Software
									behebt genau diese Probleme, sie verarbeitet das Rohsignal und gibt dieses stabil
									wieder, außerdem wird durch die Berechnung verschiedener Kenngrößen eine qualitative
									Beurteilung des Strahlprofils möglich und dem Operator des Teilchenbeschleunigers
									wird die Protokollierung der Beschleunigerkenndaten durch Automatisierung stark
									erleichtert.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Wissenschaftliche Hilfskraft am Fraunhofer IWS</h2>
					</div>
					<p class="datep">März - August 2019</p>
					<p class="descriptiondiv">
						Hier fehlt noch Inhalt
					</p>
				</div>
			</div>
			<div class="timeline-item timeline-highlight">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Physikstudent an der TU Dresden</h2>
					</div>
					<p class="datep">seit Oktober 2018</p>
					<p class="descriptiondiv">
						Hier fehlt noch Inhalt
					</p>
				</div>
			</div>
			<div class="timeline-item timeline-highlight">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Teil der deutschen Mannschaft zur Internationalen Physikolympiade 2018</h2>
					</div>
					<p class="datep">21. - 29. Juli 2018</p>
					<p class="descriptiondiv">
						Hier fehlt noch Inhalt
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Abitur am Max-Steenbeck-Gymnasium</h2>
					</div>
					<p class="datep">22.06.2018</p>
					<p class="descriptiondiv">
						Hier fehlt noch Inhalt
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="contentdiv">
					<div class="headerdiv">
						<h2>Landessieger bei der Brandenburger Physikolympiade</h2>
					</div>
					<p class="datep">2014, 2015, 2016, 2018</p>
					<p class="descriptiondiv">
						Hier fehlt noch Inhalt
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<app-footer></app-footer>