<div class="backgrounddiv">
    <div class="containerdiv" id="headercontainer">
        <h1>Resource</h1>
        
        <table>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    amdiawfnaoiwnganwigonawoignaoiwngioawng
                </td>
            </tr>
            <tr>
                <td>
                    Typ
                </td>
                <td>
                    awmawdmawmaiwmfiaf
                </td>
            </tr>
            <tr>
                <td>
                    Erstelldatum
                </td>
                <td>
                    02.03.0400
                </td>
            </tr>
        </table>
    </div>
    <div class="containerdiv" id="footercontainer">
        <div class="contentdiv">
            <span>
                Loading
            </span>
            <span>
                
            </span>
        </div>
    </div>
</div>