<div class="backgrounddiv">
    <div class="containerdiv" id="footercontainer">
        <div class="contentdiv" *ngFor="let res of resources | async">
            <h2>Resource</h2>
        
            <table>
                <tr>
                    <td>
                        Typ
                    </td>
                    <td>
                        {{res.type}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Erstelldatum
                    </td>
                    <td>
                        {{res.creation_time}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>