@import "src/variables.sass"

#bgdiv
    position: absolute
    top: 0
    z-index: -1
    height: 90vh
    width: 100%

#skydiv
    height: 60%
    width: 100%
    background: $color-light

#waterdiv
    height: 40%
    width: 100%
    background: linear-gradient(to bottom, $color-accent, $color-background)

#walrusdiv
    position: absolute
    overflow: hidden
    top: 0
    height: 100%
    width: 100%
    display: flex
    justify-content: center

#walrusimg
    height: 35%
    position: absolute
    display: block
    z-index: 1
    bottom: 17%

.namediv
    display: flex   
    height: 90vh
    width: 100%
    flex-flow: column

h1
    color: $color-headeronlight

@media (min-width: 700px) 
    h1
        text-align: center
        font-size: 14vh
        margin: 20px 10%

@media not all and (min-width: 700px) 
    h1
        text-align: left
        font-size: 10vh
        margin: 20px 40px 0px 25px

    #walrusdiv
        justify-content: flex-end
    
    #walrusimg
        right: -200px
    

#langdiv
    position: absolute
    top: 5px 
    right: 5px
    width: 40px
    height: 40px
    cursor: pointer
    vertical-align: middle
    g
        fill: $color-headeronlight
