<div>
    <h2>Create Link CMS</h2>
    <form [formGroup]="cmsLinkForm" (ngSubmit)="onCmsLinkFormSubmit()">
        Link: <input formControlName="link"  placeholder="Enter URL">
        <button type="submit">Submit</button> 
     </form>
</div>

<div>
    <h2>Create Img CMS</h2>
    Images: <input type="file" id="photofiles" (change)="detectFiles($event)" multiple="true" accept="image/png, image/jpeg">
    <button type="submit">Submit</button> 
</div>

<div>
    <h2>Upload File CMS</h2>
    File: <input type="file" id="file_select">
    <button type="submit" (click)="uploadSelectedFiles()">Submit</button> 
</div>

<div>
    <h2>Upload Article CMS</h2>
    <input id="article_name_input"  placeholder="Enter Name">
    File: <input type="file" id="article_file_input" accept="text/markdown">
    <button type="submit" (click)="uploadArticle()">Submit</button> 
</div>