@import "src/variables"
    
#me_img
    border-radius: 50%  
    width: 70%
    margin: 5px 15%

#bgdiv
    padding-top:5%

.bannerimg
    width: 70%
    margin: 5% 15%

.learnmorediv
    text-align: right

a
    text-decoration: none
    color: $color-accent
    font-weight: bold

    &:hover
        color: $color-accent-secondary

iframe
    border-radius: 3px
    margin-bottom: -4px
    opacity: 0.9
    z-index: -3

#shuffleeventsdiv
    display: flex
    overflow-y: hidden
    overflow-x: hidden
    flex-wrap: nowrap
    scroll-padding: 0 100px 0 0 
    width: auto
    margin: 7px
    color: $color-textonlight

    &::-webkit-scrollbar 
        height: 0 !important

.shuffleentrydiv
    display: flex
    flex-flow: column
    background: $color-lightshadow
    min-width: calc(100% - 10px)
    max-width: calc(100% - 10px)
    padding: 5px
    border-radius: 3px

    .centernamediv
        flex-grow: 1
        text-align: center
        display: flex
        align-items: center

    &:not(:first-child) 
        margin: 0  0 0 10px
