<div class="backgrounddiv" id="bgdiv">
    <div class="containerdiv">
        <div class="containerrowdiv">
            <div class="contentdiv">
                <h2 translate>pages.home.about-me.thats-me</h2>
                <img src="../../assets/images/me.png" id="me_img">
                <div class="learnmorediv"><a routerLink="/aboutme" translate>pages.home.about-me.learn-more</a></div>
            </div>
            <div class="contentdiv">
                <h3 translate>pages.home.about-me.studying-at</h3>
                <a href="https://tu-dresden.de/">
                    <img class="bannerimg" src="../../assets/images/TU_Dresden_Logo_schwarz.svg" />
                </a>
                <div class="learnmorediv"><a routerLink="/aboutme" translate>pages.home.about-me.learn-more</a></div>
            </div>
            <div class="contentdiv">
                <h3 translate>pages.home.about-me.working-at</h3>
                <a href="https://www.hzdr.de/">
                    <img class="bannerimg" src="../../assets/images/HELMHOLTZ_LOGO.svg" />
                </a>
                <div class="learnmorediv"><a routerLink="/aboutme" translate>pages.home.about-me.learn-more</a></div>
            </div>
        </div>
        <div class="containerrowdiv">
            <div class="contentdiv">
                <h3 translate>pages.home.about-me.living-in</h3>
                <h1 translate>pages.home.about-me.dresden</h1>
                <h3 translate>pages.home.about-me.dresden-description</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d160429.2231348256!2d13.63250240818235!3d51.07696575937513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709cf29101ad6a9%3A0x421b1cb4288feb0!2sDresden!5e0!3m2!1sde!2sde!4v1581542498446!5m2!1sde!2sde"
                    max-width="450" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="contentdiv">
                <h3 translate>pages.home.about-me.weather</h3>
                <a class="weatherwidget-io" href="https://forecast7.com/de/51d0513d74/dresden/" data-font="Roboto"
                    data-icons="Climacons Animated" data-mode="Current" data-theme="orange" data-basecolor=""
                    data-accent="#21999c" data-textcolor="#00254D" data-suncolor="#00254D" data-mooncolor="#00254D"
                    data-cloudcolor="#00254D">Dresden, Germany</a>
            </div>
            <div class="contentdiv">
                <h3 translate>pages.home.about-me.more</h3>
                <div id="shuffleeventsdiv" >
                    <div class="shuffleentrydiv" *ngFor="let milestone of additionalMilestones">
                        <span>{{milestone.timespan}}</span>
                        <div class="centernamediv">
                            <h3>{{milestone.name}}</h3>
                        </div>
                    </div>
                </div>
                <div class="learnmorediv"><a routerLink="/aboutme" translate>pages.home.about-me.learn-more</a></div>
            </div>
        </div>
    </div>
</div>