<div id="stretchydiv">
    <app-navigation-bar></app-navigation-bar>
    <div class="backgrounddiv">
        <datalist id="datesteplist">
            <option value="14"></option>
            <option value="21"></option>
            <option value="28"></option>
            <option value="35"></option>
            <option value="42"></option>
            <option value="49"></option>
            <option value="56"></option>
            <option value="63"></option>
        </datalist>
        <h1>COVID-19 Dashboard</h1>
        <div class="contentdiv-large" id="global">
            <h2 translate>pages.corona.global.title</h2>
            <div id="disclaimer-div" translate>pages.corona.recovered-disclaimer</div>
            <div class="plot-container">
                <div class="plot-item-large">
                    <h3 translate>pages.corona.global.comparison.header</h3>
                    <div class="description-div" translate>pages.corona.global.comparison.description
                        <a href="article/corona" translate>pages.corona.learn-more</a>
                    </div>
                    <div class="date-slider-div">
                        <span translate>pages.corona.slider</span>
                        <div>
                            <button class="date-slider-animate-button play"
                                (click)="animateSlider('globaloverview', $event)"></button>
                            <input type="range" min="18" (input)="onDateSliderChange('globaloverview')"
                                (change)="onDateSliderChange('globaloverview')" class="date-slider"
                                id="date-slider-globaloverview" list="datesteplist">
                        </div>
                    </div>
                    <div class="plot-div">
                        <plotly-plot [data]="globalGraph.data" [layout]="globalGraph.layout"
                            [config]="globalGraph.config">
                        </plotly-plot>
                    </div>
                </div>
                <div class="plot-item-small">
                    <h3 translate>pages.corona.global.status</h3>
                    <div class="date-slider-div">
                        <span translate>pages.corona.slider</span>
                        <div>
                            <button class="date-slider-animate-button play"
                                (click)="animateSlider('globalstatus', $event)"></button>
                            <input type="range" min="18" (input)="onDateSliderChange('globalstatus')"
                                (change)="onDateSliderChange('globalstatus')" class="date-slider"
                                id="date-slider-globalstatus" list="datesteplist">
                        </div>
                    </div>
                    <div class="plot-div">
                        <plotly-plot [data]="globalDeadInfectedHealedGraph.data"
                            [layout]="globalDeadInfectedHealedGraph.layout"
                            [config]="globalDeadInfectedHealedGraph.config">
                        </plotly-plot>
                    </div>
                </div>
                <div class="plot-item-small">
                    <h3 translate>pages.corona.global.statistics</h3>
                    <div class="date-slider-div">
                        <span translate>pages.corona.slider</span>
                        <div>
                            <button class="date-slider-animate-button play"
                                (click)="animateSlider('globalstats', $event)"></button>
                            <input type="range" min="18" (input)="onDateSliderChange('globalstats')"
                                (change)="onDateSliderChange('globalstats')" class="date-slider"
                                id="date-slider-globalstats" list="datesteplist">
                        </div>
                    </div>
                    <table class="stats-table">
                        <tr class="stats-tr-confirmed">
                            <th translate>pages.corona.global.stats.confirmed</th>
                            <td>{{global.confirmed.value}} ({{global.confirmed.delta}})</td>
                        </tr>
                        <tr class="stats-tr-infected">
                            <th translate>pages.corona.global.stats.infected</th>
                            <td>{{global.infected.value}} ({{global.infected.delta}})</td>
                        </tr>
                        <tr class="stats-tr-healed">
                            <th translate>pages.corona.global.stats.recovered</th>
                            <td>{{global.recovered.value}} ({{global.recovered.delta}})</td>
                        </tr>
                        <tr class="stats-tr-dead">
                            <th translate>pages.corona.global.stats.dead</th>
                            <td>{{global.dead.value}} ({{global.dead.delta}})</td>
                        </tr>
                        <tr class="stats-tr-fatality">
                            <th translate>pages.corona.global.stats.fatality</th>
                            <td>{{global.fatalityrate | number:'1.1'}} %</td>
                        </tr>
                    </table>
                    <h3 translate>pages.corona.global.top5</h3>
                    <table class="stats-table">
                        <tr *ngFor="let country of global.topcountries">
                            <th>{{country.name}}</th>
                            <td>{{country.infected}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="contentdiv-large" id="country">
            <h2 translate>pages.corona.local.title</h2>
            <div id="region-div">Region:
                <select (change)="selectedRegionChanged()" id="region-select">
                    <option value="global">Global</option>

                    <optgroup label="Regions">
                        <option value="China">Mainland China</option>
                        <option value="western_pacific_region">Western Pacific Region</option>
                        <option value="european_region">Europe</option>
                        <option value="south_east_asia_region">South East Asia Region</option>
                        <option value="region_of_the_americans">America</option>
                        <option value="african_region">Africa</option>
                    </optgroup>
                    <optgroup label="Europe">
                        <option value="Andorra">Andorra</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Austria">Austria</option>
                        <option value="Albania">Albania</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Bosnia_and_Herzegovina">Bosnia and Herzegovina</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czechia">Czech Republic</option>
                        <option value="Croatia">Croatia</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Faroe_Islands">Faroe Islands</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Italy">Italy</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Iceland">Iceland</option>
                        <option value="Kosovo">Kosovo</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Latvia">Latvia</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Moldova">Moldova</option>
                        <option value="Montenegro">Montenegro</option>
                        <option value="North_Macedonia">North Macedonia</option>
                        <option value="Norway">Norway</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Russia">Russia</option>
                        <option value="Romania">Romania</option>
                        <option value="Spain">Spain</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="San_Marino">San Marino</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Serbia">Serbia</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="United_Kingdom">United Kingdom</option>
                        <option value="Ukraine">Ukraine</option>
                    </optgroup>
                    <optgroup label="America">
                        <option value="US">United States</option>
                        <option value="Canada">Canada</option>
                        <option value="Brazil">Brazil</option>
                    </optgroup>
                    <optgroup label="Western Pacific Region">
                        <option value="China">China</option>
                        <option value="Korea,_South">South Korea</option>
                        <option value="Japan">Japan</option>
                        <option value="Australia">Australia</option>
                        <option value="Malaysia">Malaysia</option>
                    </optgroup>
                    <optgroup label="Eastern Mediterranean Region">
                        <option value="Iran">Iran</option>
                        <option value="Israel">Israel</option>
                    </optgroup>
                    <optgroup label="Africa">

                    </optgroup>
                    <optgroup label="South East Asia">

                    </optgroup>
                </select>
            </div>
            <div class="plot-container">
                <div class="plot-item-large">
                    <h3 translate>pages.corona.local.comparison.header</h3>
                    <div class="description-div" translate>pages.corona.local.comparison.description
                        <a href="article/corona" translate>pages.corona.learn-more</a>
                    </div>
                    <div class="date-slider-div">
                        <span translate>pages.corona.slider</span>
                        <div>
                            <button class="date-slider-animate-button play"
                                (click)="animateSlider('localoverview', $event)"></button>
                            <input type="range" min="18" (input)="onDateSliderChange('localoverview')"
                                (change)="onDateSliderChange('localoverview')" class="date-slider"
                                id="date-slider-localoverview" list="datesteplist">
                        </div>
                    </div>
                    <div class="plot-div">
                        <plotly-plot [data]="localOverviewGraph.data" [layout]="localOverviewGraph.layout"
                            [config]="localOverviewGraph.config">
                        </plotly-plot>
                    </div>
                </div>
                <div class="plot-item-large">
                    <h3 translate>pages.corona.local.breakdown</h3>
                    <div class="date-slider-div">
                        <span translate>pages.corona.slider</span>
                        <div>
                            <button class="date-slider-animate-button play"
                                (click)="animateSlider('localbreakdown', $event)"></button>
                            <input type="range" min="18" (input)="onDateSliderChange('localbreakdown')"
                                (change)="onDateSliderChange('localbreakdown')" class="date-slider"
                                id="date-slider-localbreakdown" list="datesteplist">
                        </div>
                    </div>
                    <div class="plot-div">
                        <plotly-plot [data]="localDeadInfectedHealedGraph.data"
                            [layout]="localDeadInfectedHealedGraph.layout"
                            [config]="localDeadInfectedHealedGraph.config">
                        </plotly-plot>
                    </div>
                </div>
                <div class="plot-item-large">
                    <h3 translate>pages.corona.local.growth</h3>
                    <div class="date-slider-div">
                        <span translate>pages.corona.slider</span>
                        <div>
                            <button class="date-slider-animate-button play"
                                (click)="animateSlider('localgrowth', $event)"></button>
                            <input type="range" min="18" (input)="onDateSliderChange('localgrowth')"
                                (change)="onDateSliderChange('localgrowth')" class="date-slider"
                                id="date-slider-localgrowth" list="datesteplist">
                        </div>
                    </div>
                    <div class="plot-div">
                        <plotly-plot [data]="localGrowthGraph.data" [layout]="localGrowthGraph.layout"
                            [config]="localGrowthGraph.config">
                        </plotly-plot>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>