@import "src/variables"

#stretchydiv
    display: flex
    min-height: 100vh
    flex-direction: column

.backgrounddiv
    justify-content: center
    flex-grow: 1
    flex-wrap: wrap
    width: 100%

h1
    font-size: 60px
    color: $color-headerondark
    margin: 10px 10px
    width: 100%
    text-align: center

.svg-container
    position: absolute

.date-slider-div
    margin: 0 20px
    color: $color-textonlight
    width: calc(100% - 40px) 

    div
        display: inline-flex
        align-content: center
        width: 100%

.date-slider
    width: calc(100% - 120px)
    margin: 0 5px

.date-slider-control-button
    border: none
    background-color: transparent
    width: 30px
    height: 30px
    margin: 0 5px
    background-size: cover

    &:focus
        outline: none

.play-start
    background-image: url("../../../assets/images/play.png")
    &:hover
        background-image: url("../../../assets/images/playhover.png")
    
.play-stop 
    margin: 0 24px
    background-image: url("../../../assets/images/pause.png")
    &:hover
        background-image: url("../../../assets/images/pausehover.png")

.linked
    background-image: url("../../../assets/images/linked.png")
    &:hover
        background-image: url("../../../assets/images/linked-hover.png")

.unlinked
    background-image: url("../../../assets/images/unlinked.png")
    &:hover
        background-image: url("../../../assets/images/unlinked-hover.png")

.repeat-start
    background-image: url("../../../assets/images/repeat.png")
    &:hover
        background-image: url("../../../assets/images/repeat-hover.png")

.repeat-stop
    width: 0px
    margin: 0px
    padding: 0px
    background-color: transparent

.plot-container
    width: 100%
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: center
    align-items: flex-start

.plot-item-large, .plot-item-small
    border-radius: 3px
    border: 1px $color-accent solid
    background: $color-lightshadow
    margin: 10px

    .description-div
        margin: 20px
        color: $color-textonlight

    h3 
        margin-top: 15px


.plot-item-large
    max-width: 860px

@media (min-width: 600px) 
    .plot-item-large, .plot-item-small
        padding: 20px
        padding-top: 0px
        margin: 10px

    .plot-item-large
        width: calc(100% - 60px)

    .plot-item-small
        max-width: 400px
        width: calc(50% - 62px)

@media (max-width: 600px) 
    .plot-item-large, .plot-item-small
        padding: 5px
        padding-top: 0px
        margin: 5px 0px 

    .plot-item-large
        width: calc(100% - 10px)

    .plot-item-small
        width: calc(100% - 10px)
        
.plot-div
    display: inline-block
    width: 100%
    height: 450px

.stats-table
    width: 100%
    font-size: 18px 
    color: $color-textonlight

    td, th
        padding: 5px

    th 
        text-align: left

    .stats-tr-confirmed
        color: #cc4300
    .stats-tr-infected
        color: #1866b4
    .stats-tr-healed
        color: #03734d
    .stats-tr-dead
        color: #596468
    .stats-tr-fatality
        color: #596468

@media (min-width: 600px) 
    #region-div
        margin: 0 30px
    #share-div
        margin: 10px 30px 0px 30px 

@media (max-width: 600px) 
    #region-div
        margin: 0 10px
    #share-div
        margin: 10px 10px 0px 10px 

#region-div
    font-size: 15px
    color: $color-textonlight
    display: inline-flex
    align-items: center
    align-content: center


#share-div
    font-size: 15px
    a
        cursor: pointer
        display: inline-flex
        
        svg
            height: 18px
            width: 18px
            vertical-align: middle
        g
            fill: $color-accent
        &:hover
            g
                fill: $color-accent-secondary

#copied-div
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    z-index: 10000
    opacity: 0
    background: rgba($color-accent-faded, 0.6)
    display: none
    div
        background: $color-light
        border: 1px solid $color-accent
        border-radius: 3px
        font-size: 18px
        padding: 20px
#copied-div.visible
    display: inline-flex
    animation: 1s ease-in 1 copied-div-appear

@keyframes copied-div-appear
    0%
        opacity: 1
    60%
        opacity: 1
    100%
        opacity: 0

select
    appearance: none
    background: $color-lightshadow
    font-size: 15px
    padding: 5px
    margin: 0 10px
    color: $color-textonlight