#stretchydiv
    display: flex
    height: 100vh
    flex-direction: column

.backgrounddiv
    justify-content: start
    flex-direction: column
    flex-grow: 1

.svg-container
    position: absolute