$background-color: white

body, html
    margin: 0
    padding: 0
    width: 100%
    min-height: 100vh
    top: 0
    font-family: Arial

.backgrounddiv
    width: 100%
    display: flex
    padding: 5% 0
    justify-content: center
    align-items: center
    background: $background-color
    flex-wrap: wrap

.contentdiv
    margin: 20px 20px
    min-width: 400px
    max-width: 70vw
    background: beige
