@import "variables.sass"

body, html
    margin: 0
    padding: 0
    width: 100%
    min-height: 100vh
    top: 0
    font-family: "Roboto", sans-serif 

.backgrounddiv
    width: 100%
    display: flex
    padding: 0
    justify-content: center
    align-items: center
    background: $color-background
    flex-wrap: wrap

    h2
        flex-basis: 100%
        text-align: center
        color: $color-light

.containerdiv    
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    background: $color-background
    flex-wrap: wrap
    max-width: 1000px
    width: 100%

.containerrowdiv
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    max-width: 440px

.contentdiv
    margin: 20px 20px
    padding: 10px
    border-radius: 3px
    max-width: 400px
    width: calc(100% - 60px)
    background: $color-light
    
    h1 
        margin: 10px 0 
        text-align: center
        font-size: 50px
        font-weight: bold
        color: $color-textonlight

    h2 
        margin: 5px 0 
        font-size: 30px
        text-align: center
        color: $color-textonlight

    h3 
        margin: 5px 0 
        font-size: 20px
        text-align: center
        color: $color-textonlight

.contenttilediv
    margin: 20px 20px
    padding: 10px
    width: min(50vw - 60px, 150px)
    height: min(50vw - 60px, 150px)
    border-radius: 2px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    user-select: none

a
    text-decoration: none
    color: $color-accent
    font-weight: bold

    &:hover
        color: $color-accent-secondary