$color-background: #264566
$color-accent: #21999c
$color-accent-secondary:  #166869
$color-light: #FAFAFA
$color-lightshadow: #e6e2e7
$color-textondark: $color-light
$color-textonlight: $color-background