<div class="backgrounddiv">
    <div class="contenttilediv" id="reddittile" onclick="location.href='https://www.reddit.com/u/tipfom'">
        <img src="../../assets/images/Reddit_Mark_OnWhite.svg">
    </div>
    <div class="contenttilediv" id="githubtile" onclick="location.href='https://www.github.com/tipfom'">
        <img src="../../assets/images/GitHub-Mark-120px-plus.png">
    </div>
    <div class="contenttilediv" id="instagramtile" onclick="location.href='https://www.instagram.com/tipfom'">
        <img src="../../assets/images/IG_Glyph_Fill.png">
    </div>
</div>